@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --card: 210 33% 9.4%;
    --card-foreground: 0 0% 100%;
    --popover: 210 33% 9.4%;
    --popover-foreground: 0 0% 100%;
    --primary: 34 86.4% 62.4%;
    --primary-foreground: 210 33% 9.4%;
    --secondary: 210 33% 12%;
    --secondary-foreground: 0 0% 100%;
    --muted: 210 33% 15%;
    --muted-foreground: 0 0% 70%;
    --accent: 34 86.4% 62.4%;
    --accent-foreground: 210 33% 9.4%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 210 33% 20%;
    --input: 210 33% 20%;
    --ring: 34 86.4% 62.4%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased selection:bg-primary/30 selection:text-primary;
    background-image: radial-gradient(
      circle at top center,
      rgba(242, 170, 76, 0.05) 0%,
      transparent 100%
    );
    background-attachment: fixed;
  }
}
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
